.DailyForecast-Container {
  padding: 0 20px 0 20px;
  margin: 0 20px 0 20px;
}
.DailyForecast {
  text-align: center;
}
.DailyForecast-day {
  padding-bottom: 10px;
}
.DailyForecast-temperature-max {
  font-weight: bold;
}
.DailyForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
