:root {
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-color: #f6eeea;
  --secondary-color: #64462e;
}
body {
  background-color: var(--primary-color);
  font-family: Arial, sans-serif;
  color: var(--secondary-color);
}

.wrapper {
  padding: 20px 0;
}
.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-height: 490px;
  max-width: 650px;
  margin: 60px auto 0;
  padding: 16px;
}
.Weather form {
  padding: 20px 20px -10px 20px;
}
.searchBar {
  width: 400px;
  padding: 12px;
  margin-left: 25px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
}
.search-btn {
  display: flex;
  position: relative;
  right: 10px;
  top: -1px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  color: #f5feff;
  background: var(--secondary-color);
  border: 1px solid #fff;
}
.location-btn {
  display: flex;
  position: relative;
  top: -1px;
  left: -20px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  color: #fff;
  background-color: var(--secondary-color);
}
button:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}
.locationIcon:hover {
  color: var(--secondary-color);
}
.searchFont:hover {
  color: var(--secondary-color);
}

h1 {
  padding-left: 25px;
  font-size: 40px;
  font-weight: bolder;
  color: #000;
}
.Weather .active {
  color: #5c5757;
  cursor: default;
  font-size: large;
  text-decoration: none;
}

.Weather .active:hover {
  text-decoration: none;
}
.Weather a {
  text-decoration: none;
}

.forecast-container {
  background-color: var(--primary-color);
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}
.forecast {
  display: flex;
  justify-content: space-around;
}
.forecastIcons {
  font-size: 25px;
  color: var(--secondary-color);
  display: block;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .container {
    max-height: 100%;
  }
  .searchBar {
    width: 20rem;
  }
  .search-btn {
    font-size: 12px;
    padding: 0.7rem;
  }
  .location-btn {
    padding: 0.7rem;
  }
}
